<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="ManagementServer" value="192.168.1.1" />
    <Parameter name="User" value="admin" />
    <Parameter name="Password" value="password" />
    <Parameter name="CertificateHash" value="" />
    <Parameter name="MgmtName" value="mgmt" />
  </TestRunParameters>
</RunSettings>